.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.open-sans-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.antique {
    background-color: #FFEEDD;
}

.logo {
    color:#9381FF;
    font-size: 1.3rem;
}

.navbar-img {
    width: 100px;
    height: auto;
}

.navbar-custom {
    background-color: #FFEEDD;
}

hr {
    width: 75%;
    display: block;
    margin: auto;
}

.primary {
    background-color: #B8B8FF;
}

.secondary {
    background-color: #9381FF;
}

.white {
    background-color: #FFEEDD;
}

.borderless {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #B8B8FF;
}

.borderless:focus {
    background-color: #FFEEDD;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #B8B8FF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #9381FF;
}

a:hover {
    text-decoration: none;
    color: #9381FF;
}

.primary-foreground {
    color: #B8B8FF;
}

.no-margin {
    margin: 0px 0px 0px .1rem;
}

.big-logo {
    font-size: 3rem;
}

.width-cap {
    max-width: 100%;
}

.wide {
    width: 49%
}

#loading-wrapper {
    display: none;
}

.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1000;
    display: flex;
}

.loading-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pacman {
    width: 150px;
    height: 150px;
}