.purple {
    background-color: #FFEEDD;
}

.logo {
    max-width: 85%;
}

.navbar-img {
    width: 100px;
    height: auto;
}

.navbar-custom {
    background-color: #FFEEDD;
}

hr {
    width: 75%;
    display: block;
    margin: auto;
}