.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.open-sans-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.antique {
    background-color: #FFEEDD;
}

.logo {
    max-width: 85%;
}

.navbar-img {
    width: 100px;
    height: auto;
}

.navbar-custom {
    background-color: #FFEEDD;
}

hr {
    width: 75%;
    display: block;
    margin: auto;
}

.primary {
    background-color: #B8B8FF;
}

.secondary {
    background-color: #9381FF;
}

.white {
    background-color: #FFEEDD;
}

.borderless {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #B8B8FF;
}

.borderless:focus {
    background-color: #FFEEDD;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #B8B8FF;
}

.wide {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #9381FF;
}

a:hover {
    text-decoration: none;
    color: #9381FF;
}