{% extends 'base.html' %}

{% block content %}

<div class="row my-5 d-flex flex-row">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center jumbotron px-5 mb-4">
        <h1 class="display-3 mx-5">Tracking.</h1>
        <h1 class="display-3 mx-5">Made Easier.</h1>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
        <div class="jumbotron">
            <h1 class="display-2">🏭  📦  🚢  ➡️  😃</h1>
        </div>
    </div>
    <div class="row my-3">
    </div>
    <div class="row my-5">
        <div class="col-12 jumbotron">
            <h1 class="open-sans-light text-center">Track-it is your hub for all things shipping.</h1>
            <h1 class="open-sans-light text-center">Digging through your email for a tracking number?</h1>
            <h1 class="open-sans-light text-center">Forget about it.</h6>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class=" col-12 col-md-8 jumbotron">
        <h2 class="open-sans-light text-center">
            Instead of heading to your carrier's site to check tracking every day,
            keep all your tracking info here and check back whenever you need to
        </h2>
    </div>
    <div class="col-12 col-md-4 jumbotron my-5 my-md-0">
        <h3 class="open-sans-light text-center">Step 1.) 📝</h3>
        <h3 class="open-sans-light text-center">Step 2.) 👀</h3>
        <h3 class="open-sans-light text-center">Step 3.) 📦</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{{ url_for('home.register') }}"><button class="btn primary sign-up">Get Started</button></a>
    </div>
</div>

{% endblock content %}