{% extends 'base.html' %}

{% block content %}

<div class="row my-5">
    <div class="col-4 col-md-9">
        <h2 class="open-sans-light">{{ package.nickname }}</h2>
        <h6 class="open-sans-light"><a href="{{ package.tracking_url }}" target="_blank">{{ package.carrier }}</a> - {{ package.tracking_number }}</h6>
    </div>
    <div class="col-8 col-md-3">
        <a href="{{ url_for('track.update_package_info', package_id=package.id) }}" onclick="loading()"><button class="btn primary wide">Update</button></a>
        <a href="{{ url_for('track.delete', package_id=package.id) }}" onclick="loading()"><button class="btn secondary wide">Delete</button></a>
    </div>
</div>

{% for event in events %}
<div class="row pt-3 text-center">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="card white">
            <div class="card-body">
              <h5 class="card-title">{{ event.description }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item white">{{ event.city_locality }}, {{ event.state }}</li>
                    <li class="list-group-item white">{{ event.occured_at.strftime('%a, %b %d - %I:%M %p') }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-0 col-md-3"></div>
</div>
{% endfor %}

<div class="row my-5"></div>

{% endblock content %}