{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-sm-2 col-md-4"></div>
    <div class="col-12 col-sm-8 col-md-4 my-5">

        <img src='https://res.cloudinary.com/dbqwjxuhv/image/upload/v1624827299/trackit-removebg-preview_fvlkcg.png' class='logo'>

        <!-- <h1 class="my-4">Register Here</h1> -->

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group d-flex flex-column justify-content-center">
                <fieldset class="my-2">
                    {{ form.username.label }}
                    {{ form.username(class="form-control white borderless", placeholder="ilovetotrack") }}
                </fieldset>
                <fieldset class="my-2">
                    {{ form.email.label }} 
                    {{ form.email(class="form-control white borderless", placeholder="trackerfan@example.com") }}
                </fieldset>
                <fieldset class="my-2">
                    {{ form.password.label }}
                    {{ form.password(class="form-control white borderless", placeholder="********") }}
                </fieldset>
                <fieldset class="my-2">
                    {{ form.confirm_pass.label }}
                    {{ form.confirm_pass(class="form-control white borderless", placeholder="********") }}
                </fieldset>
                {{ form.submit(class="btn primary my-3") }}
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-2 col-md-4"></div>
</div>

{% endblock content %}